.qa-container-view-home {
  width: 100%;
  height: 80vh;
}
.qa-sub-container-view-home {
  width: 90%;
  height: 100%;
}
.qa-filter-form-container {
  width: 90%;
  height: 90%;
}
.form-filter {
  width: 80%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
.select-staff-container {
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
}
.results-container {
  width: 90%;
}
.filter-results {
  flex-direction: column;
}
.qa-form {
  padding: 5px;
  width: 80%;
  outline: none;
  height: 40px;
  border: 1px solid #0007;
  font-size: 1em;
  border-radius: 5px;
}
.select-staff-container div {
  align-items: center;
  justify-content: space-evenly;
}
.patient-select {
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}
.filter-title {
  padding: 20px;
}
.filter-results {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  overflow-y: scroll;
  border-radius: 15px;
}

.results-container {
  width: 90%;
  height: 90%;
}
